In [1]:
import netCDF4 as nc4
import keras
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from keras.datasets import mnist
from keras.models import Model
from keras.layers import Input, add
from keras.layers.core import  Dense, Dropout, Activation, Flatten, Reshape
from keras import regularizers
from keras.regularizers import l2
from keras.layers.convolutional import Conv2D, MaxPooling2D, UpSampling2D, ZeroPadding2D
from keras.utils import np_utils
from sklearn.preprocessing import normalize
from scipy.stats import pearsonr

In [2]:
file_path =['C:/Users/Administrator/OneDrive - The University of Melbourne/capstone/data/OFAM_2017/ocean_eta_t/ocean_eta_t_2000_01.nc']
# file_path.append('C:/Users/Administrator/OneDrive - The University of Melbourne/capstone/data/OFAM_2017/ocean_eta_t/ocean_eta_t_2000_02.nc')
# file_path.append('C:/Users/Administrator/OneDrive - The University of Melbourne/capstone/data/OFAM_2017/ocean_eta_t/ocean_eta_t_2000_03.nc')
# file_path.append('C:/Users/Administrator/OneDrive - The University of Melbourne/capstone/data/OFAM_2017/ocean_eta_t/ocean_eta_t_2000_04.nc')
# file_path.append('C:/Users/Administrator/OneDrive - The University of Melbourne/capstone/data/OFAM_2017/ocean_eta_t/ocean_eta_t_2000_05.nc')
# file_path.append('C:/Users/Administrator/OneDrive - The University of Melbourne/capstone/data/OFAM_2017/ocean_eta_t/ocean_eta_t_2000_06.nc')
ds = nc4.MFDataset(file_path)
eta_t_arr = ds.variables['eta_t'][:]
eta_t_arr.shape

(31, 1500, 3600)

In [3]:
data1 = eta_t_arr[:,:750,:1800]
data2 = eta_t_arr[:,:750,1800:3600]
data3 = eta_t_arr[:,750:1500,:1800]
data4 = eta_t_arr[:,750:1500,1800:3600]

for i in range(0,len(data1)):
    arr = data1[i].data
    arr[arr == -32768] = 0

for i in range(0,len(data2)):
    arr = data2[i].data
    arr[arr == -32768] = 0

for i in range(0,len(data3)):
    arr = data3[i].data
    arr[arr == -32768] = 0

for i in range(0,len(data4)):
    arr = data4[i].data
    arr[arr == -32768] = 0
data1=[normalize(data1[i,:,:],axis=1,norm='l1') for i in range(31)]
data2=[normalize(data2[i,:,:],axis=1,norm='l1') for i in range(31)]
data3=[normalize(data3[i,:,:],axis=1,norm='l1') for i in range(31)]
data4=[normalize(data4[i,:,:],axis=1,norm='l1') for i in range(31)]

In [4]:
corr_1_2 = []
corr_1_3 = []
corr_1_4 = []
corr_2_3 = []
corr_2_4 = []
corr_3_4 = []
dataset = []

In [5]:
data1=np.array(data1)
data2=np.array(data2)
data3=np.array(data3)
data4=np.array(data4)


cor_1_2 = pearsonr(data1.reshape(-1),data2.reshape(-1))[0]
cor_1_3 = pearsonr(data1.reshape(-1),data3.reshape(-1))[0]
cor_1_4 = pearsonr(data1.reshape(-1),data4.reshape(-1))[0]
cor_2_3 = pearsonr(data2.reshape(-1),data3.reshape(-1))[0]
cor_2_4 = pearsonr(data2.reshape(-1),data4.reshape(-1))[0]
cor_3_4 = pearsonr(data3.reshape(-1),data4.reshape(-1))[0]

corr_1_2.append(cor_1_2)
corr_1_3.append(cor_1_3)
corr_1_4.append(cor_1_4)
corr_2_3.append(cor_2_3)
corr_2_4.append(cor_2_4)
corr_3_4.append(cor_3_4)
dataset.append('ocean_eta_t_2000_01.nc')

In [6]:
df = pd.DataFrame({"dataset":dataset, "corr_1_2":corr_1_2,'corr_1_3':corr_1_3,'corr_1_4':corr_1_4,'corr_2_3':corr_2_3,'corr_2_4':corr_2_4,'corr_3_4':corr_3_4}).reset_index(drop=True)
df

,dataset,corr_1_2,corr_1_3,corr_1_4,corr_2_3,corr_2_4,corr_3_4
0,ocean_eta_t_2000_01.nc,0.267072,-0.175231,-0.326162,-0.474659,-0.183629,0.128318

In [8]:
file_path =['C:/Users/Administrator/OneDrive - The University of Melbourne/capstone/data/OFAM_2017/ocean_eta_t/ocean_eta_t_2000_02.nc']
# file_path.append('C:/Users/Administrator/OneDrive - The University of Melbourne/capstone/data/OFAM_2017/ocean_eta_t/ocean_eta_t_2000_02.nc')
# file_path.append('C:/Users/Administrator/OneDrive - The University of Melbourne/capstone/data/OFAM_2017/ocean_eta_t/ocean_eta_t_2000_03.nc')
# file_path.append('C:/Users/Administrator/OneDrive - The University of Melbourne/capstone/data/OFAM_2017/ocean_eta_t/ocean_eta_t_2000_04.nc')
# file_path.append('C:/Users/Administrator/OneDrive - The University of Melbourne/capstone/data/OFAM_2017/ocean_eta_t/ocean_eta_t_2000_05.nc')
# file_path.append('C:/Users/Administrator/OneDrive - The University of Melbourne/capstone/data/OFAM_2017/ocean_eta_t/ocean_eta_t_2000_06.nc')
ds = nc4.MFDataset(file_path)
eta_t_arr = ds.variables['eta_t'][:]
eta_t_arr.shape
data1 = eta_t_arr[:,:750,:1800]
data2 = eta_t_arr[:,:750,1800:3600]
data3 = eta_t_arr[:,750:1500,:1800]
data4 = eta_t_arr[:,750:1500,1800:3600]

for i in range(0,len(data1)):
    arr = data1[i].data
    arr[arr == -32768] = 0

for i in range(0,len(data2)):
    arr = data2[i].data
    arr[arr == -32768] = 0

for i in range(0,len(data3)):
    arr = data3[i].data
    arr[arr == -32768] = 0

for i in range(0,len(data4)):
    arr = data4[i].data
    arr[arr == -32768] = 0

data1=[normalize(data1[i,:,:],axis=1,norm='l1') for i in range(29)]
data2=[normalize(data2[i,:,:],axis=1,norm='l1') for i in range(29)]
data3=[normalize(data3[i,:,:],axis=1,norm='l1') for i in range(29)]
data4=[normalize(data4[i,:,:],axis=1,norm='l1') for i in range(29)]
data1=np.array(data1)
data2=np.array(data2)
data3=np.array(data3)
data4=np.array(data4)
cor_1_2 = pearsonr(data1.reshape(-1),data2.reshape(-1))[0]
cor_1_3 = pearsonr(data1.reshape(-1),data3.reshape(-1))[0]
cor_1_4 = pearsonr(data1.reshape(-1),data4.reshape(-1))[0]
cor_2_3 = pearsonr(data2.reshape(-1),data3.reshape(-1))[0]
cor_2_4 = pearsonr(data2.reshape(-1),data4.reshape(-1))[0]
cor_3_4 = pearsonr(data3.reshape(-1),data4.reshape(-1))[0]

corr_1_2.append(cor_1_2)
corr_1_3.append(cor_1_3)
corr_1_4.append(cor_1_4)
corr_2_3.append(cor_2_3)
corr_2_4.append(cor_2_4)
corr_3_4.append(cor_3_4)
dataset.append('ocean_eta_t_2000_02.nc')

In [14]:
file_path =['C:/Users/Administrator/OneDrive - The University of Melbourne/capstone/data/OFAM_2017/ocean_eta_t/ocean_eta_t_2000_03.nc']
# file_path.append('C:/Users/Administrator/OneDrive - The University of Melbourne/capstone/data/OFAM_2017/ocean_eta_t/ocean_eta_t_2000_02.nc')
# file_path.append('C:/Users/Administrator/OneDrive - The University of Melbourne/capstone/data/OFAM_2017/ocean_eta_t/ocean_eta_t_2000_03.nc')
# file_path.append('C:/Users/Administrator/OneDrive - The University of Melbourne/capstone/data/OFAM_2017/ocean_eta_t/ocean_eta_t_2000_04.nc')
# file_path.append('C:/Users/Administrator/OneDrive - The University of Melbourne/capstone/data/OFAM_2017/ocean_eta_t/ocean_eta_t_2000_05.nc')
# file_path.append('C:/Users/Administrator/OneDrive - The University of Melbourne/capstone/data/OFAM_2017/ocean_eta_t/ocean_eta_t_2000_06.nc')
ds = nc4.MFDataset(file_path)
eta_t_arr = ds.variables['eta_t'][:]
eta_t_arr.shape
data1 = eta_t_arr[:,:750,:1800]
data2 = eta_t_arr[:,:750,1800:3600]
data3 = eta_t_arr[:,750:1500,:1800]
data4 = eta_t_arr[:,750:1500,1800:3600]

for i in range(0,len(data1)):
    arr = data1[i].data
    arr[arr == -32768] = 0

for i in range(0,len(data2)):
    arr = data2[i].data
    arr[arr == -32768] = 0

for i in range(0,len(data3)):
    arr = data3[i].data
    arr[arr == -32768] = 0

for i in range(0,len(data4)):
    arr = data4[i].data
    arr[arr == -32768] = 0
data1=[normalize(data1[i,:,:],axis=1,norm='l1') for i in range(31)]
data2=[normalize(data2[i,:,:],axis=1,norm='l1') for i in range(31)]
data3=[normalize(data3[i,:,:],axis=1,norm='l1') for i in range(31)]
data4=[normalize(data4[i,:,:],axis=1,norm='l1') for i in range(31)]
data1=np.array(data1)
data2=np.array(data2)
data3=np.array(data3)
data4=np.array(data4)
cor_1_2 = pearsonr(data1.reshape(-1),data2.reshape(-1))[0]
cor_1_3 = pearsonr(data1.reshape(-1),data3.reshape(-1))[0]
cor_1_4 = pearsonr(data1.reshape(-1),data4.reshape(-1))[0]
cor_2_3 = pearsonr(data2.reshape(-1),data3.reshape(-1))[0]
cor_2_4 = pearsonr(data2.reshape(-1),data4.reshape(-1))[0]
cor_3_4 = pearsonr(data3.reshape(-1),data4.reshape(-1))[0]

cor_1_2 = pearsonr(data1.reshape(-1),data2.reshape(-1))[0]
cor_1_3 = pearsonr(data1.reshape(-1),data3.reshape(-1))[0]
cor_1_4 = pearsonr(data1.reshape(-1),data4.reshape(-1))[0]
cor_2_3 = pearsonr(data2.reshape(-1),data3.reshape(-1))[0]
cor_2_4 = pearsonr(data2.reshape(-1),data4.reshape(-1))[0]
cor_3_4 = pearsonr(data3.reshape(-1),data4.reshape(-1))[0]

corr_1_2.append(cor_1_2)
corr_1_3.append(cor_1_3)
corr_1_4.append(cor_1_4)
corr_2_3.append(cor_2_3)
corr_2_4.append(cor_2_4)
corr_3_4.append(cor_3_4)
dataset.append('ocean_eta_t_2000_03.nc')

In [15]:
file_path =['C:/Users/Administrator/OneDrive - The University of Melbourne/capstone/data/OFAM_2017/ocean_eta_t/ocean_eta_t_2000_04.nc']
# file_path.append('C:/Users/Administrator/OneDrive - The University of Melbourne/capstone/data/OFAM_2017/ocean_eta_t/ocean_eta_t_2000_02.nc')
# file_path.append('C:/Users/Administrator/OneDrive - The University of Melbourne/capstone/data/OFAM_2017/ocean_eta_t/ocean_eta_t_2000_03.nc')
# file_path.append('C:/Users/Administrator/OneDrive - The University of Melbourne/capstone/data/OFAM_2017/ocean_eta_t/ocean_eta_t_2000_04.nc')
# file_path.append('C:/Users/Administrator/OneDrive - The University of Melbourne/capstone/data/OFAM_2017/ocean_eta_t/ocean_eta_t_2000_05.nc')
# file_path.append('C:/Users/Administrator/OneDrive - The University of Melbourne/capstone/data/OFAM_2017/ocean_eta_t/ocean_eta_t_2000_06.nc')
ds = nc4.MFDataset(file_path)
eta_t_arr = ds.variables['eta_t'][:]
eta_t_arr.shape
data1 = eta_t_arr[:,:750,:1800]
data2 = eta_t_arr[:,:750,1800:3600]
data3 = eta_t_arr[:,750:1500,:1800]
data4 = eta_t_arr[:,750:1500,1800:3600]

for i in range(0,len(data1)):
    arr = data1[i].data
    arr[arr == -32768] = 0

for i in range(0,len(data2)):
    arr = data2[i].data
    arr[arr == -32768] = 0

for i in range(0,len(data3)):
    arr = data3[i].data
    arr[arr == -32768] = 0

for i in range(0,len(data4)):
    arr = data4[i].data
    arr[arr == -32768] = 0

data1=[normalize(data1[i,:,:],axis=1,norm='l1') for i in range(30)]
data2=[normalize(data2[i,:,:],axis=1,norm='l1') for i in range(30)]
data3=[normalize(data3[i,:,:],axis=1,norm='l1') for i in range(30)]
data4=[normalize(data4[i,:,:],axis=1,norm='l1') for i in range(30)]
data1=np.array(data1)
data2=np.array(data2)
data3=np.array(data3)
data4=np.array(data4)
cor_1_2 = pearsonr(data1.reshape(-1),data2.reshape(-1))[0]
cor_1_3 = pearsonr(data1.reshape(-1),data3.reshape(-1))[0]
cor_1_4 = pearsonr(data1.reshape(-1),data4.reshape(-1))[0]
cor_2_3 = pearsonr(data2.reshape(-1),data3.reshape(-1))[0]
cor_2_4 = pearsonr(data2.reshape(-1),data4.reshape(-1))[0]
cor_3_4 = pearsonr(data3.reshape(-1),data4.reshape(-1))[0]
cor_1_2 = pearsonr(data1.reshape(-1),data2.reshape(-1))[0]
cor_1_3 = pearsonr(data1.reshape(-1),data3.reshape(-1))[0]
cor_1_4 = pearsonr(data1.reshape(-1),data4.reshape(-1))[0]
cor_2_3 = pearsonr(data2.reshape(-1),data3.reshape(-1))[0]
cor_2_4 = pearsonr(data2.reshape(-1),data4.reshape(-1))[0]
cor_3_4 = pearsonr(data3.reshape(-1),data4.reshape(-1))[0]

corr_1_2.append(cor_1_2)
corr_1_3.append(cor_1_3)
corr_1_4.append(cor_1_4)
corr_2_3.append(cor_2_3)
corr_2_4.append(cor_2_4)
corr_3_4.append(cor_3_4)
dataset.append('ocean_eta_t_2000_04.nc')

In [16]:
file_path =['C:/Users/Administrator/OneDrive - The University of Melbourne/capstone/data/OFAM_2017/ocean_eta_t/ocean_eta_t_2000_05.nc']
# file_path.append('C:/Users/Administrator/OneDrive - The University of Melbourne/capstone/data/OFAM_2017/ocean_eta_t/ocean_eta_t_2000_02.nc')
# file_path.append('C:/Users/Administrator/OneDrive - The University of Melbourne/capstone/data/OFAM_2017/ocean_eta_t/ocean_eta_t_2000_03.nc')
# file_path.append('C:/Users/Administrator/OneDrive - The University of Melbourne/capstone/data/OFAM_2017/ocean_eta_t/ocean_eta_t_2000_04.nc')
# file_path.append('C:/Users/Administrator/OneDrive - The University of Melbourne/capstone/data/OFAM_2017/ocean_eta_t/ocean_eta_t_2000_05.nc')
# file_path.append('C:/Users/Administrator/OneDrive - The University of Melbourne/capstone/data/OFAM_2017/ocean_eta_t/ocean_eta_t_2000_06.nc')
ds = nc4.MFDataset(file_path)
eta_t_arr = ds.variables['eta_t'][:]
eta_t_arr.shape
data1 = eta_t_arr[:,:750,:1800]
data2 = eta_t_arr[:,:750,1800:3600]
data3 = eta_t_arr[:,750:1500,:1800]
data4 = eta_t_arr[:,750:1500,1800:3600]

for i in range(0,len(data1)):
    arr = data1[i].data
    arr[arr == -32768] = 0

for i in range(0,len(data2)):
    arr = data2[i].data
    arr[arr == -32768] = 0

for i in range(0,len(data3)):
    arr = data3[i].data
    arr[arr == -32768] = 0

for i in range(0,len(data4)):
    arr = data4[i].data
    arr[arr == -32768] = 0

data1=[normalize(data1[i,:,:],axis=1,norm='l1') for i in range(31)]
data2=[normalize(data2[i,:,:],axis=1,norm='l1') for i in range(31)]
data3=[normalize(data3[i,:,:],axis=1,norm='l1') for i in range(31)]
data4=[normalize(data4[i,:,:],axis=1,norm='l1') for i in range(31)]
data1=np.array(data1)
data2=np.array(data2)
data3=np.array(data3)
data4=np.array(data4)
cor_1_2 = pearsonr(data1.reshape(-1),data2.reshape(-1))[0]
cor_1_3 = pearsonr(data1.reshape(-1),data3.reshape(-1))[0]
cor_1_4 = pearsonr(data1.reshape(-1),data4.reshape(-1))[0]
cor_2_3 = pearsonr(data2.reshape(-1),data3.reshape(-1))[0]
cor_2_4 = pearsonr(data2.reshape(-1),data4.reshape(-1))[0]
cor_3_4 = pearsonr(data3.reshape(-1),data4.reshape(-1))[0]
cor_1_2 = pearsonr(data1.reshape(-1),data2.reshape(-1))[0]
cor_1_3 = pearsonr(data1.reshape(-1),data3.reshape(-1))[0]
cor_1_4 = pearsonr(data1.reshape(-1),data4.reshape(-1))[0]
cor_2_3 = pearsonr(data2.reshape(-1),data3.reshape(-1))[0]
cor_2_4 = pearsonr(data2.reshape(-1),data4.reshape(-1))[0]
cor_3_4 = pearsonr(data3.reshape(-1),data4.reshape(-1))[0]

corr_1_2.append(cor_1_2)
corr_1_3.append(cor_1_3)
corr_1_4.append(cor_1_4)
corr_2_3.append(cor_2_3)
corr_2_4.append(cor_2_4)
corr_3_4.append(cor_3_4)
dataset.append('ocean_eta_t_2000_05.nc')

In [17]:
file_path =['C:/Users/Administrator/OneDrive - The University of Melbourne/capstone/data/OFAM_2017/ocean_eta_t/ocean_eta_t_2000_06.nc']
# file_path.append('C:/Users/Administrator/OneDrive - The University of Melbourne/capstone/data/OFAM_2017/ocean_eta_t/ocean_eta_t_2000_02.nc')
# file_path.append('C:/Users/Administrator/OneDrive - The University of Melbourne/capstone/data/OFAM_2017/ocean_eta_t/ocean_eta_t_2000_03.nc')
# file_path.append('C:/Users/Administrator/OneDrive - The University of Melbourne/capstone/data/OFAM_2017/ocean_eta_t/ocean_eta_t_2000_04.nc')
# file_path.append('C:/Users/Administrator/OneDrive - The University of Melbourne/capstone/data/OFAM_2017/ocean_eta_t/ocean_eta_t_2000_05.nc')
# file_path.append('C:/Users/Administrator/OneDrive - The University of Melbourne/capstone/data/OFAM_2017/ocean_eta_t/ocean_eta_t_2000_06.nc')
ds = nc4.MFDataset(file_path)
eta_t_arr = ds.variables['eta_t'][:]
eta_t_arr.shape
data1 = eta_t_arr[:,:750,:1800]
data2 = eta_t_arr[:,:750,1800:3600]
data3 = eta_t_arr[:,750:1500,:1800]
data4 = eta_t_arr[:,750:1500,1800:3600]

for i in range(0,len(data1)):
    arr = data1[i].data
    arr[arr == -32768] = 0

for i in range(0,len(data2)):
    arr = data2[i].data
    arr[arr == -32768] = 0

for i in range(0,len(data3)):
    arr = data3[i].data
    arr[arr == -32768] = 0

for i in range(0,len(data4)):
    arr = data4[i].data
    arr[arr == -32768] = 0
data1=[normalize(data1[i,:,:],axis=1,norm='l1') for i in range(30)]
data2=[normalize(data2[i,:,:],axis=1,norm='l1') for i in range(30)]
data3=[normalize(data3[i,:,:],axis=1,norm='l1') for i in range(30)]
data4=[normalize(data4[i,:,:],axis=1,norm='l1') for i in range(30)]
data1=np.array(data1)
data2=np.array(data2)
data3=np.array(data3)
data4=np.array(data4)
cor_1_2 = pearsonr(data1.reshape(-1),data2.reshape(-1))[0]
cor_1_3 = pearsonr(data1.reshape(-1),data3.reshape(-1))[0]
cor_1_4 = pearsonr(data1.reshape(-1),data4.reshape(-1))[0]
cor_2_3 = pearsonr(data2.reshape(-1),data3.reshape(-1))[0]
cor_2_4 = pearsonr(data2.reshape(-1),data4.reshape(-1))[0]
cor_3_4 = pearsonr(data3.reshape(-1),data4.reshape(-1))[0]
cor_1_2 = pearsonr(data1.reshape(-1),data2.reshape(-1))[0]
cor_1_3 = pearsonr(data1.reshape(-1),data3.reshape(-1))[0]
cor_1_4 = pearsonr(data1.reshape(-1),data4.reshape(-1))[0]
cor_2_3 = pearsonr(data2.reshape(-1),data3.reshape(-1))[0]
cor_2_4 = pearsonr(data2.reshape(-1),data4.reshape(-1))[0]
cor_3_4 = pearsonr(data3.reshape(-1),data4.reshape(-1))[0]

corr_1_2.append(cor_1_2)
corr_1_3.append(cor_1_3)
corr_1_4.append(cor_1_4)
corr_2_3.append(cor_2_3)
corr_2_4.append(cor_2_4)
corr_3_4.append(cor_3_4)
dataset.append('ocean_eta_t_2000_06.nc')

In [18]:
df = pd.DataFrame({"dataset":dataset, "corr_1_2":corr_1_2,'corr_1_3':corr_1_3,'corr_1_4':corr_1_4,'corr_2_3':corr_2_3,'corr_2_4':corr_2_4,'corr_3_4':corr_3_4}).reset_index(drop=True)
df

,dataset,corr_1_2,corr_1_3,corr_1_4,corr_2_3,corr_2_4,corr_3_4
0,ocean_eta_t_2000_01.nc,0.267072,-0.175231,-0.326162,-0.474659,-0.183629,0.128318
1,ocean_eta_t_2000_02.nc,0.272479,-0.187195,-0.329950,-0.481629,-0.166229,0.119218
2,ocean_eta_t_2000_03.nc,0.268289,-0.180205,-0.339560,-0.490257,-0.153665,0.116620
3,ocean_eta_t_2000_04.nc,0.268985,-0.173877,-0.348065,-0.508109,-0.173825,0.129971
4,ocean_eta_t_2000_05.nc,0.269085,-0.169016,-0.343095,-0.503677,-0.189343,0.137465
5,ocean_eta_t_2000_06.nc,0.263432,-0.161480,-0.330233,-0.486053,-0.176159,0.137536